name: Auto Deploy to Hostinger (firstalphabet.in)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via FTP to Hostinger
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          protocol: ftp
          local-dir: ./
          server-dir: /
          timeout: 120000
          dangerous-clean-slate: true
          exclude: |
            **/.git*
            **/.github/**
            **/*.md
            **/*.bat
            **/*.py
            **/deploy.yml
            **/tests/**
            **/*.yml
            **/README.md
            .git/**
            .github/**
            connection.php
            **/*.doc
            **/*.sql
            **/*.zip
            connection.php

